{% extends "base.html" %}

{% block title %}Добавить новую услугу{% endblock %}

{% block content %}
<div class="card w-50 mx-auto shadow-sm rounded border-0">
    <div class="card-header">
        <h2 class="card-title text-center">Новая услуга</h2>
    </div>
    <div class="card-body">
        <form method="POST" action="{{ url_for('main.add_new_service') }}">
            <div class="form-group mb-3">
                <label for="name" class="form-label">Название услуги</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <button type="submit" class="btn btn-success">Добавить услугу</button>
            <a href="{{ url_for('main.register_service') }}" class="btn btn-secondary">Назад</a>
        </form>
    </div>
</div>
{% endblock %}